.jumbotron{
    background-size: cover;
    height: 30rem;
    text-align: center;
    background: var(--bg-gradien, linear-gradient(135deg, rgba(143, 231, 255, 0.50) 0%, rgba(57, 160, 223, 0.50) 100%));
}

.carousel-inner{
    margin-top: -2rem;
}

.kotak{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid antiquewhite;
}

.kotak .gambar{
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid var(--second-color, #C4C4C4);
    overflow: hidden;
}

.kotak .gambar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}